body {
    font-family: Arial, sans-serif;
    background-color: #f2f4f7;
}

.container {
    background: white;
    width: 70%;
    margin: auto;
    margin-top: 40px;
    padding: 30px;
    border-radius: 8px;
}

textarea {
    width: 100%;
    height: 160px;
    padding: 10px;
    margin-top: 10px;
}

input[type="file"] {
    margin-top: 10px;
}

button {
    margin-top: 15px;
    padding: 10px 25px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

h3 {
    color: green;
}
